/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons-outlined.md-18 {
    font-size: 18px;
}

.material-icons-outlined.md-24 {
    font-size: 24px;
}

.material-icons-outlined.md-36 {
    font-size: 36px;
}

.material-icons-outlined.md-48 {
    font-size: 48px;
}
.material-icons-outlined.md-128 {
    font-size: 128px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons-outlined.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons-outlined.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.material-icons-outlined.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons-outlined.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

:root {}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3730a3;
    height: 100vh;
}

p {
    padding: 4px;
    margin: 0;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    text-align: start;
    font-size: 48px;
    background-color: #e0e7ff;
    padding: 40px;
    box-shadow: 5px 5px 5px 0px #312e81;
}
header>div{
    display: flex;
    gap: 1rem;
}
header :last-child{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    grid-template-rows: repeat(auto-fit, minmax(150px, 250px));
    padding: 2rem;
    gap: 1rem;
}
h3{
    font-size: 22px;
    margin: 0;
    padding-bottom: 1rem;
}
.add-book,.book-item{
    display: flex;
    border-radius: 1rem;
    background-color: #a5b4fc;
    flex-direction: column;
    box-shadow: 5px 5px 5px 0px #312e81;
}
.add-book{
    justify-content: center;
    align-items: center;
    flex: 1 1 1;
}
.add-book:hover{
    background-color: #6366f1;
}
.book-item {
    padding: 1rem;
}
.func-container{
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: end;
}